@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0f0f12;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

selection {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}